*, html {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.items > .item {
  flex-grow: 1;
  width: calc(100% / 3);
}

.item {
  border: 1px solid #505050;
  width: 280px;
  height: 220px;
  padding-top: 5px;
  overflow: auto;
}

.item .image {
  float: left;
  margin-left: 10px;
}

.item .image img {
  width: 100%;
}

.item .details {
  float: left;
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
}

.details strong, .details small {
  display: block;
}

.details button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #df7d2d;
  color: #994a0a;
  font-weight: bold;
}

